<!DOCTYPE html>
<html>

<head>
    <title>Calculate Postage</title>
</head>

<body>
    
    <form method="GET" action="postage">
        Mail Type<input type="text" name="mail"><br>
        Weight<input type="text" name="weight"><br>
        <button type="submit">Calculate</button>
    </form>
</body>

</html>