<!DOCTYPE html>
<html>

<head>
    <title>Postage Calculator</title>
</head>

<body>
    <h1 style="color:blue;">Postage Calculator Form</h1>

    <hr>

    <form method="get" action="/postage">
      Type of Mail  <select name="mail">
            <option>Letters (Stamped)</option>
            <option>Letters (Metered)</option>
            <option>Large Envelopes (Flats)</option>
            <option>First-Class Package Service-Retail</option>
        </select>


        Weight    <input type="text" name="weight"> oz.<br>
        <button type="submit">Calculate</button>
<hr>
    </form>
</body>

</html>
