<!DOCTYPE html>
<html>

<head>
	<title>Postage Calculation</title>
</head>

<body>

	<h1 style="color:blue;">Postage Results</h1>
	Mail Type: <%= mail %><br>
	Weight: <%= weight %><br>
	Cost: <%= cost %>



</body>

</html>